.whoAmI
  height: 100%
  &:hover
    .informationWrapper
      .clip
        -webkit-transform: translate(0, 0) !important
        -ms-transform: translate(0, 0) !important
        transform: translate(0, 0) !important
  @apply bg-transparent m-2 p-3 flex flex-col w-full justify-end
  .informationWrapper
    @apply flex flex-col justify-center w-full
    .name
      @apply w-full text-xl text-center font-bold text-gray-100
    .headline
      @apply w-full text-base text-center text-white my-1
      .workplace
        @apply font-bold cursor-pointer text-indigo-200 text-base
    .location
      @apply w-full text-center text-sm my-1 text-white
    .languages
      @apply py-1 px-2 text-xs text-center
      .language-item
        @apply cursor-pointer p-1 rounded text-gray-600
        &.active
          @apply font-bold text-white
    .description
      @apply py-1 px-1 text-base font-light  text-white text-center italic opacity-75
    .contact
      @apply px-2 pt-10 text-sm text-center
    .social
      @apply w-full text-center
      .network
        @apply p-2 text-xl m-1 text-white
        &:hover
          transform: scale(1.7)
          transition: transform 400ms

@screen md
  .whoAmI
    @apply flex-row
    .informationWrapper
      .description
        @apply px-4
