#writings
    background: linear-gradient(to bottom right, #126df5, #232b3c)
    .welcome
        min-height: 500px
        @apply flex flex-col w-full overflow-visible
        .hello
            min-height: 500px
            @apply flex w-1/2 flex-col h-full flex-col justify-center pl-10
            .title
                @apply text-4xl w-full text-left flex flex-row inline-flex
            .subtitle
                @apply text-xl flex inline-flex
        .writings
            @apply w-full
            .list-container
                @apply flex flex-col flex-wrap
                .writing-wrapper
                    @apply p-5 flex flex-col text-sm justify-between cursor-pointer items-center w-full
                    .writing
                        transition: transform 1s
                        @apply p-3 h-48 flex flex-col justify-between bg-blue-900
                        &:hover
                            box-shadow: 0rem 1rem 1rem 0rem #40a2d01e
                            transform: scale(1.05)
                            transition: transform 400ms
                        .title
                            @apply text-xl font-bold
                        .tags-container
                            @apply text-xs text-purple-700 text-white items-center
                            .tag
                                @apply text-indigo-500 p-1 rounded font-bold text-lg mr-2 border border-indigo-700
                                &:hover
                                    @apply bg-indigo-700 text-white

@screen md
    #writings
        .welcome
            @apply flex-row
            .hello
                @apply w-2/5
            .writings
                @apply w-3/5
                .list-container
                    @apply flex-row
                    .writing-wrapper
                        @apply w-1/2
                        .writing
                            @apply p-10
                            .title
                                @apply text-lg
