@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label,
  span {
    font-family: "Courier Prime", monospace;
  }
}
html,
body {
  @apply bg-gray-900 text-white;
}
@import url("~@fortawesome/fontawesome-free/css/all.css");

@tailwind base;

@tailwind components;

@tailwind utilities;

@import "markdown";

.profile-photo {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
